{%include 'side-nav.html'%}
{%block content%}
<style>
.dashboard-pwd{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}
.dashboard-pwd > #back-btn {
    margin-left: 7%;
    margin-top: 1%;
    
}
.alert{
    position: relative;
    margin-left: 5%;
    width: 400px;
    max-width: 400px;
    margin-top: 1%;
    z-index: 1;
}
.dashboard-pwd > #back-btn > a > img {
    width: 5.5vh;
    height: 5.5vh;
    border-radius: 50%;
    background-color: teal;
    padding: 6px 6px;
    color: black;
}
.dashboard-pwd > #back-btn > a > span {
    color: black;
    padding-top: 1%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
}
.alert {
    margin-left: 6%;
    width: 400px;
    max-width: 400px;
}
#dashboard-pwd-container{
    display: flex;
    /* flex-direction: row; */
    /* justify-content: center;
    align-items: flex-start; */
    margin-left: 7%;
    margin-right: 2%;
    color: black;
    padding: 2% 1%;
    margin-top: 1%;
    /* margin-left: auto;
    margin-right: auto; */
    margin-bottom: 10%;
    border-radius: 5px;
    height: fit-content;
    background-color: #EFA500;
    border: 1px solid rgba(0, 0, 0, 0.2);
    /* width: fit-content; */
}
#edit-pwd-section{
    position: relative;
}
#edit-pwd-section > img{
    width: 25px;
    height: 25px;
}
.form-label{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
}
.form-control{
    width: 250px;
}
#pwd-visible{
    position: absolute;
    right: -27px;
    top:37px;
}
</style>
<div class="dashboard-pwd">
    {%for message in get_flashed_messages()%}
    <div class="alert alert-success alert-dismissible show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {%endfor%}
    <span id="back-btn">
        <a href="{{url_for('user.user_edit', id=current_user.id)}}">
            <img src="{{url_for('static', filename='images/arrow_back_white.svg')}}" alt="">
            <span>Password Change</span> 
        </a>
    </span>
    <div id="dashboard-pwd-container">
        <form action="" method="post">
            <div id="edit-pwd-section">
                {{edit_form.hidden_tag()}}
                {{edit_form.password_hash.label(class='form-label')}}
                {{edit_form.password_hash(class='form-control')}}
                <span id="pwd-visible">
                    <img src="{{url_for('static', filename='images/visibility_black.svg')}}" alt="">
                </span>
                <br>
                {{edit_form.password_hash_match.label(class='form-label')}}
                {{edit_form.password_hash_match(class='form-control')}}
                <br>
                {{edit_form.submit(class='btn btn-success btn-sm')}}
                <span class="btn btn-danger btn-sm">Clear</span>
            </div>
        </form>
    </div>
</div>
<script>
$('.btn-danger').click(function(){
    $('.form-control').each(function(){
        $(this).val('')
    })
})
</script>
{%endblock%}