<style>
    .image-thumbnail-search{
       width: 10%;
       font-size: 13px;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .image-thumbnail-search img{
       width: 60px;
       height: 35px;
       object-fit: cover;
       object-position: center;
    }
    .union-name-link a, .union-slug-link a, .name-link a{
       color: rgba(0,0,0,0.7);
       font-size: 13px;
       text-decoration: none;
    }
    .search-word{
       font-size: 14px;
       margin-top: 2%;
       margin-left: 1%;
    }
    .search-word span{
       color: #db0038;
       padding-top: 2px;
       font-weight: 600;
       font-size: 0.8em;
    }
    .platform-link{
       font-size: 13px;
    }
    th{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 0.8em;
        font-weight: 550;
    }
    .name-link{
        font-size: 0.6em;
        font-family: sans-serif;
    }
 </style>
 <div class="search-word">
    <span>Search for "{{search_word}}" - {{numrows}} Data Found</span>
 </div>
 
 <table class="table table-hover">
   <thead>
       <tr>
          <th>Result</th>
       </tr>
   </thead>
   <tbody>
      {%for b in barang_collection%}
      <tr>
        <td class="name-kode">{{b.kode_barang}}</td>
        <td class="name-harga">{{b.harga_jual}}</td>
        <td class="name-dis">{{b.diskon}}</td>
         <td class="name-link">
            {{b.nama_barang}}
         </td>
         <td class="jumlah-grosir">{{b.jumlah_grosir}}</td>
         <td class="total-grosir">{{b.harga_grosir}}</td>
      </tr>
      {%endfor%}
    </tbody>